ul {
  padding: 0;
}

li {
  
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  width: 50%;
  padding: 20px;
}
.btn {
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}
.btn-danger {
  background-color: red;
}
.btn-info {
  background-color: green;
}
form {
  width: 400px;
  background: #ccc;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.input {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 5px;
  border: 1px solid #eee;
  width: 100%;
}
form button {
  width: 100px;
  padding: 7px;
  border-radius: 6px;
  border: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
   }
   .row {
    flex-direction: column;
   }
   form { 

    width: 100%;
   }
   li {
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
   }
}
